<div class="dashboard">
  <div class="title-container">
    <h2>Dashboard</h2>
    <a href="/dashboard/create" class="submitButton btnPath">Create Thought</a>
  </div>
  <h3>Your Thoughts:</h3>
  <ul>
    {{#each thoughts}}
      <li>
        <span class="label">{{this.text}}</span>
        <span class="actions">
          <a
            href="/dashboard/edit-thought/{{this.id}}"
            class="btn edit"
          >Edit</a>
          <form action="/dashboard/remove-thought" method="post">
            <input type="hidden" name="id" value="{{this.id}}" />
            <button type="submit" class="btn delete">Delete</button>
          </form>
        </span>
      </li>
    {{/each}}
  </ul>
  {{#if emptyThoughts}}
    <p>
      There are no thoughts yet.
      <a href="/dashboard/create">
        Create yours.
      </a>
    </p>
  {{/if}}
</div>