<div class="errorPage">
  <h1>Error: <span>{{status}}</span></h1>
  <h2>Oops! Something went wrong.</h2>
  <div class="message-error">
    {{errorMessage}}
  </div>
  <div class="links404">
    <a href="/">Back to home</a>
    <a href="/dashboard">Back to dashboard</a>
  </div>
</div>
 