<div class="authContainer">
  <h2>Register</h2>
  <form action="/create-account" method="post">
    <div class="formControl">
      <label for="name">Name:</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Type your name..."
        required
      />
    </div>
    <div class="formControl">
      <label for="email">Email:</label>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Type your email..."
        required
      />
    </div>
    <div class="formControl">
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Type your password..."
        required
      />
    </div>
    <div class="formControl">
      <label for="confirmPassword">Confirm password:</label>
      <input
        type="confirm-password"
        name="confirmPassword"
        id="confirmPassword"
        placeholder="Confirm your password..."
        required
      />
    </div>
    <button type="submit" class="submitButton">Create User</button>
    <p>Already have an account?<a href="/login"> Sign in.</a></p>
  </form>
</div>